.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 600;

}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.navbar-link:hover{
    background-color: #a75bcd;
    transform: scale(1.05)
}
navbar-link:active{
    transform: scale(0.95)
}
